<a href="https://colab.research.google.com/github/khuloodnasher/Happy-SQL-Hour/blob/master/Happy_SQL_Hour.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### UDAcity course

# Questions using IN operator 
Use the accounts table to find the account name, primary_poc, and sales_rep_id for Walmart, Target, and Nordstrom.



accounts Table


id

name

website

lat
long

primary_poc

sales_rep_id

In [ ]:
#select name ,primary_poc,sales_rep_id  from accounts  Where name in  ('Walmart', 'Target','Nordstrom');


SELECT name, primary_poc, sales_rep_id
FROM accounts
WHERE name IN ('Walmart', 'Target', 'Nordstrom');

Use the web_events table to find all information regarding individuals who were contacted via the channel of organic or adwords.

web_events table

In [ ]:
#SELECT * from web_events Where channel in ( 'organic' , 'adwords')

SELECT *
FROM web_events
WHERE channel IN ('organic', 'adwords');

# Questions using the NOT operator

We can pull all of the rows that were excluded from the queries in the 

previous two concepts with our new operator.


Use the accounts table to find the account name, primary poc, and sales rep 

id for all stores except Walmart, Target, and Nordstrom.


Use the web_events table to find all information regarding individuals who 

were contacted via any method except using organic or adwords methods.

Use the accounts table to find:

All the companies whose names do not start with 'C'.

All companies whose names do not contain the string 'one' somewhere in the name.

All companies whose names do not end with 's'.

In [ ]:
SELECT name, primary_poc, sales_rep_id
FROM accounts
WHERE name NOT IN ('Walmart', 'Target', 'Nordstrom');

In [ ]:
SELECT *
FROM web_events
WHERE channel NOT IN ('organic', 'adwords');

In [ ]:
SELECT name
FROM accounts
WHERE name NOT LIKE 'C%';

In [ ]:
SELECT name
FROM accounts
WHERE name NOT LIKE '%s';

Questions using AND and BETWEEN operators

Write a query that returns all the orders where the standard_qty is over 1000, the poster_qty is 0, and the gloss_qty is 0.

Using the accounts table, find all the companies whose names do not start with 'C' and end with 's'.

When you use the BETWEEN operator in SQL, do the results include the values 

of your endpoints, or not? Figure out the answer to this important question

 by writing a query that displays the order date and gloss_qty data for all 


orders where gloss_qty is between 24 and 29. Then look at your output to see 

if the BETWEEN operator included the begin and end values or not.


Use the web_events table to find all information regarding individuals who 

were contacted via the organic or adwords channels, and started their account 

at any point in 2016, sorted from newest to oldest.

orders Table
id

account_id

occurred_at

standard_qty

gloss_qty

poster_qty

total

standard_amt_usd

gloss_amt_usd

poster_amt_usd

total_amt_usd

In [ ]:
Select * from orders Where standard_qty>1000 AND poster_qty = 0 and  gloss_qty = 0;

Using the accounts table, find all the companies whose names do not start with 'C' and end with 's'.

Account Table



accounts

id

name

website

lat

long

primary_poc


sales_rep_id

In [ ]:
Select * from accounts Where name Not like"C%" AND "%S";